// Some style guides prefer to use black and white that are slightly altered
// Use color variables for these as well to make a global change easy
$black: #222;
$grey: #d3d3d3;
$white: #fff;

$shadow-color: #a8a8a8;

// Include brand guide colors:
$light-blue: #00c8c8;
$orange: #ff9800;
$pink: #f52881;
$purple: #7028b7;
